@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Barlow", sans-serif;
  --default-font-family: "Barlow", sans-serif;
  --default-mono-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

@layer base {
  html,
  body,
  #root {
    font-family: "Barlow", sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    letter-spacing: normal;
  }

  *,
  *::before,
  *::after {
    font-family: inherit;
  }

  input,
  textarea,
  select,
  button {
    font-family: inherit;
  }
}
